/* Custom override styles here */

#feedback_button
{
  display: none;
}

.feedback_form
{
  transform: translate(10%, 20%);
  height: auto !important;
}

.feedback_form.ui-draggable
{
  transform: translate(0%, 0%);
}

#feedback_form_container
{
  opacity: 1.0 !important;
}
